# Raw data

raw_data/

analyses/

# Assembly outputs

assembly_output/
busco_output/
prokka_output/
results/
correction/
trimming/
unitigging/

# Large bioinformatics files

*.fastq
*.fq
*.fasta
*.fa
*.bam
*.sam
*.gz
*.dat

# Logs

*.log

# Temporary files

*.tmp
*.out
*.err
