# Raw sequencing reads
*.fastq
*.fq
*.fastq.gz
*.fq.gz

# Alignment files
*.bam
*.bai
*.sam

# Large Canu intermediate databases
*.dat
*.tig
*.dump

assembly/canu/correction/
assembly/canu/trimming/
assembly/canu/unitigging/

# Large compressed/intermediate files
*.tar
*.gz

# Temporary files
*.tmp

# Logs
*.log
*.err
*.out

# Python cache
__pycache__/
.DS_Store
